<div role="main"
     class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Tips</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-secondary">Back</button>
  </div>
</div>
<form #UploadTip="ngForm" (ngSubmit) = "OnSubmit(Category.value, Title.value, Topic.value, Article.value)">
  <div class="form-group">
    <label>Category</label>
    <select class="form-control" name="selectedCategory"
            (change)="getCategory($event.target.value)" #Category ngModel>
      <!--<option value="default">Select a category</option>-->
      <option *ngFor = "let category of categories; let i = index" [attr.data-index]="i" name="categorySelected"
              value={{i}}>
        {{category.title}}</option>
    </select>
    <label>Title</label>
    <select class="form-control" name="selectedTitle" #Title ngModel>
      <option value="-1">Select a Title</option>
      <option *ngFor="let item of selectOne" value="{{item.id}}">{{item.article}}</option>
    </select>

    <label>Topic</label>
    <input type="text" class="form-control" name="topic" #Topic ngModel>
    <label>Content</label>
    <textarea class="form-control"  id="article" rows="5" name="article" #Article ngModel></textarea>


  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />

</form>
