.bsx {
    padding-left: 30px;
    margin-bottom: 15px;
}
.bpy {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}
.bi {
    position: absolute;
    top: 7px;
    left: 10px;
}
.log-main td {
    max-width: 100px;
    /*word-wrap: break-word;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal td {
    max-width: 150px;
    word-wrap: break-word;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}