<div class="col-10">
  <div class="card">
    <div class="card-header">
      Basic Info
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <!--<thead class="thead-dark">-->
        <!--<tr>-->
          <!--<th scope="col" colspan="2">Basic Info</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <tbody>
        <tr>
          <th scope="row">Created at</th>
          <td>{{createdAt | date: 'MM/dd/yy HH:mm:ss'}}</td>
        </tr>
        <tr>
          <th scope="row">Modified at</th>
          <td>{{modifiedAt | date: 'MM/dd/yy HH:mm:ss'}}</td>
        </tr>
        <tr>
          <th scope="row">Age</th>
          <td>{{info?.age}}</td>
        </tr>
        <tr>
          <th scope="row">Gender</th>
          <td>{{info?.gender}}</td>
        </tr>
        <tr>
          <th scope="row">Diagnosis</th>
          <td>{{info?.diagnosis}}</td>
        </tr>
        <tr>
          <th scope="row">Zipcode</th>
          <td>{{info?.zipcode}}</td>
        </tr>
        <tr>
          <th scope="row">Usage Age</th>
          <td>{{info?.wheelchairUsageAge}}</td>
        </tr>
        <tr>
          <th scope="row">Wheelchair Usage</th>
          <td>{{info?.wheelchairUsage}}</td>
        </tr>
        <tr>
          <th scope="row">Negotiate soft</th>
          <td>{{info?.negotiateSoft}}</td>
        </tr>
        <tr>
          <th scope="row">Negotiate steep</th>
          <td>{{info?.negotiateSteep}}</td>
        </tr>
        <tr>
          <th scope="row">Negotiate curb</th>
          <td>{{info?.negotiateCurb}}</td>
        </tr>
        <tr>
          <th scope="row">Numbers of hours per day</th>
          <td>{{info?.weekdayHours}}</td>
        </tr>
        <tr>
          <th scope="row">Numbers of hours outside house per day</th>
          <td>{{info?.weekdayHoursOutside}}</td>
        </tr>
        <tr>
          <th scope="row">Average distance(miles) per day</th>
          <td>{{info?.weekdayDistance}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

