<div role="main"
     class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Add New Article</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-sm btn-outline-secondary" routerLink='/article-page'>Back</a>
  </div>
</div>
<form #UploadSleep="ngForm" (ngSubmit) = "OnSubmit(selectedTitle.value,title.value, description.value, article.value)">
  <div class="form-group">
    <label>Category</label>

    <select class="form-control" name="selectedTitle" #selectedTitle ngModel>
      <option value="default">Select a category</option>
      <option *ngFor="let category of categories" value="{{category.id}}">{{category.title}}</option>
    </select>
    <label>Title</label>
    <input type="text" class="form-control" name="Title" #title ngModel>
    <label>Description</label>
    <input type="text" class="form-control" name="Description" #description ngModel>

    <label class="control-label">Select File</label>
    <input class="form-control file" type="file"
           (change)="handleFileInput($event.target.files)">
    <label >Article</label>
    <textarea rows="10" class="form-control" name="Article" #article ngModel></textarea>
  </div>

  <input class="btn btn-primary" type="submit" value="Submit" />

</form>
