<div class="col-8">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <h2>Today you went {{dayData[0]+dayData[1]+dayData[2]+dayData[3]+dayData[4]+dayData[5]+dayData[6]+dayData[7]}} miles</h2>
        </div>
        <div class="col-2">
          <span><i class="material-icons btn-icon">arrow_drop_down</i></span>
        </div>
      </div>

    </div>
    <ul class="list-group list-group-flush">
      <br>
      <div>
        <canvas id="dayChart"></canvas>
      </div>
    </ul>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <h2>This week you went {{weekData[0]+weekData[1]+weekData[2]+weekData[3]+weekData[4]+weekData[5]+weekData[6]}} miles</h2>
        </div>
        <div class="col-2">

          <span><i class="material-icons btn-icon">arrow_drop_down</i></span>

        </div>
      </div>

    </div>
    <ul class="list-group list-group-flush">
      <br>
      <div>
        <canvas id="weekChart"></canvas>
      </div>
    </ul>
  </div>
</div>





