<div role="main"
     class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Display Users</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-sm btn-outline-secondary" routerLink='#'>Back</a>
  </div>
</div>
<div>
  <div>
    <form class="bpy">
      <span class="bi"><i class="fas fa-search"></i></span>
      <input class="form-control mr-sm-2 bsx" type="search" placeholder="Search.." aria-label="Search">
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    </form>
  </div>
  <br><br>
  <div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col"><input type="checkbox"></th>
        <th scope="col">Name</th>
        <th scope="col">Operations</th>
        <th scope="col">Download</th>
      </tr>
      </thead>
      <tbody *ngFor = "let item of users">
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <th scope="row">{{item}}</th>
        <th scope="row">
          <ul class="nav">
            <li class="nav-item">
              <button class="btn btn-outline-secondary nav-link" routerLink='/detail/info/{{item}}'
                      [queryParams] = "{userId: item, state: 'info'}">
                Info
              </button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-secondary nav-link" routerLink='/detail/wheelchair/{{item}}'
                      [queryParams] = "{userId: item, state: 'wheelchair'}">
                Wheelchair
              </button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-secondary nav-link" routerLink='/detail/vendor/{{item}}'
                      [queryParams] = "{userId: item, state: 'vendor'}">
                Vendor</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-secondary nav-link" routerLink='/detail/repair/{{item}}'
                      [queryParams] = "{userId: item, state: 'repair'}">Repair
              </button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-secondary nav-link" routerLink='/detail/gps/{{item}}'
                      [queryParams] = "{userId: item, state: 'gps'}">GPS</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-secondary nav-link" routerLink='/detail/log/{{item}}'
                      [queryParams] = "{userId: item, state: 'log'}">Log</button>
            </li>
          </ul>
        </th>
        <th scope="row">
          <button type="button" class="btn" (click)="downloadOne(item)">
            <i class="fas fa-download"></i>
          </button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

