.bsx {
    padding-left: 30px;
}
.bpy {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}
.bi {
    position: absolute;
    top: 7px;
    left: 10px;
}

.page-item button:focus {
    border: 1px solid #979797;
    color: #333;
    background-color: darkseagreen;
}

