<div role="main"
     class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h2>{{userId}}</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-sm btn-outline-secondary" routerLink='/home'>Back</a>
  </div>
</div>
<div>
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':state === 'info'}" data-toggle="tab" role="tab"
           routerLink='/detail/info/{{userId}}' [queryParams] = "{userId: userId, state: 'info'}">
          Info
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':state === 'wheelchair'}" data-toggle="tab" role="tab"
           routerLink='/detail/wheelchair/{{userId}}' [queryParams] = "{userId: userId, state: 'wheelchair'}">
          Wheelchair
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':state === 'vendor'}" data-toggle="tab" role="tab"
           routerLink='/detail/vendor/{{userId}}' [queryParams] = "{userId: userId, state: 'vendor'}">
          Vendor
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':state === 'repair'}" data-toggle="tab" role="tab"
           routerLink='/detail/repair/{{userId}}' [queryParams] = "{userId: userId, state: 'repair'}">
          Repair
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':state === 'gps'}" data-toggle="tab" role="tab"
           routerLink='/detail/gps/{{userId}}' [queryParams] = "{userId: userId, state: 'gps'}">
          GPS
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':state === 'log'}" data-toggle="tab" role="tab"
           routerLink='/detail/log/{{userId}}' [queryParams] = "{userId: userId, state: 'log'}">
          Log
        </a>
      </li>
    </ul>
  </div>
  <br>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
