<div role="main"
     class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Add New Article</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-sm btn-outline-secondary" routerLink='/article'>Add</a>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-sm-8"></div>
  <div class="form-group col-sm-4">
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choose Category</option>
      <option *ngFor="let category of categories">{{category.title}}</option>
    </select>
  </div>
</div>
<div class="container">
  <div class="row">
    <div *ngFor="let category of categories">
      <div  *ngFor="let item of category.articles" class="col-lg-4 col-md-6 square card">
        <h5 class="card-title ellipses">{{item.title}}</h5>
        <img class="card-img-top"
             src="{{item.picture_url}}">
        <div class="card-body">
          <p class="ellipses">{{item.description}}</p>
          <a href="#" class="card-link" data-toggle="modal" data-target="#viewModal">View</a>
          <a href="#" class="card-link" routerLink='/article'>Edit</a>
          <a href="#" class="card-link" data-toggle="modal" data-target="#tipModal">Tips</a>
          <a href="#" class="card-link" data-toggle="modal" data-target="#deleteModal" >Delete</a>
        </div>
        <!--Tip Modal-->
        <div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="tipModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="tipModalLabel">Add New Tips</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Topic</label>
                  <input type="text" class="form-control" name="topic" #Topic ngModel>
                  <label>Content</label>
                  <textarea class="form-control" rows="5" name="content" #Content ngModel></textarea>

                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal" (click)="addTip(category.id, item.id, Topic.value, Content.value)">
                  Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <!--Delete Modal-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you Sure?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="DeleteSleep(category.id,item.id)"
                        data-dismiss="modal">
                  Yes, delete it!</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <!-- View Modal -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">{{item.title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <img class="card-img-top"
                   src="{{item.picture_url}}">
              <div class="modal-body">{{item.article}}</div>
              <div class="list-group list-group-flush">
                <li class="list-group-item list-group-item-secondary"></li>
                <div *ngFor="let tip of item.tips">

                  <div class="list-group">
                    <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
                      {{tip.topic}}
                      <div>
                        <button class="btn-primary" data-toggle="collapse" data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                          View
                        </button>
                        <button class="btn-danger" (click)="delTip(item.id, tip.tips_id)" data-dismiss="modal">
                          Delete
                        </button>
                      </div>


                    </li>
                    <div class="collapse" id="collapseExample">
                      <div class="card card-body">
                        {{tip.content}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
