
<div role="main"
     class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Article Category</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-sm btn-outline-secondary" routerLink='/category-page'>Back</a>
  </div>
</div>
<form  #UploadCategory="ngForm" (ngSubmit) = "OnSubmit(Title.value, Description.value)" >
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" #Title ngModel>
    <label class="control-label">Select File</label>
    <input class="form-control file" type="file"
           (change)="handleFileInput($event.target.files)">
    <label>Description</label>

    <textarea class="form-control" rows="5" name="description" #Description ngModel></textarea>

  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>


